/**------------------------------------------------------------------------
 *                           CUSTOM STYLES
 *                 You can add your custom styles here.
 *------------------------------------------------------------------------**/

/**------------------------------------------------------------------------
 *                        Chinese Font Example
 *------------------------------------------------------------------------**/
// body:lang(zh) {
//   line-height: 1.618;
//   letter-spacing: 0.0618em;
//   font-family: -apple-system, BlinkMacSystemFont, SF UI Text, Helvetica Neue, PingFang SC,
//     Hiragino Sans GB, Noto Sans CJK SC, Microsoft YaHei, Arial, sans-serif;
// }

h1 {
  color: #347928;
}

.notes {
  color: #000000 !important;
}

// 修改所有标题颜色为深绿色
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000; // 深绿色
}

// 修改所有链接颜色为绿色
a {
  color: #008000; // 经典绿色
  text-decoration: none; // 可选，去除下划线
}

// 鼠标悬停时的链接颜色
a:hover {
  color: #185519; // 深绿色
  // text-decoration: underline; // 使悬停时更明显
}

// icon 颜色
.social-icons a {
  color: #008000 !important;
}

// 论文图片角标颜色
.publications ol.bibliography li .abbr abbr {
  background-color: #00712d;
}

position {
  font-size: 1.1rem;
}

// 粗体橙色
.orange {
  color: #FF7300;
}

/**------------------------------------------------------------------------
 *                         暗色模式设置
 *------------------------------------------------------------------------**/
@media (prefers-color-scheme: dark) {
  // 设置除链接外的所有字体颜色为 #eee6f3
  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  div,
  .notes {
    color: #eee6f3 !important;
  }


  // 链接颜色
  a {
    color: #2be8c2 !important;
  }

  // 保持链接悬停颜色不变
  a:hover {
    color: #2be8c2 !important;
  }

  // icon 颜色
  .social-icons a {
    color: #2be8c2 !important;
  }

  // 论文图片角标颜色
  .publications ol.bibliography li .abbr abbr {
    background-color: #2be8c2 !important;
  }
}
