/**------------------------------------------------------------------------
 *                           CUSTOM STYLES
 *                 You can add your custom styles here.
 *------------------------------------------------------------------------**/

/**------------------------------------------------------------------------
 *                        Chinese Font Example
 *------------------------------------------------------------------------**/
// body:lang(zh) {
//   line-height: 1.618;
//   letter-spacing: 0.0618em;
//   font-family: -apple-system, BlinkMacSystemFont, SF UI Text, Helvetica Neue, PingFang SC,
//     Hiragino Sans GB, Noto Sans CJK SC, Microsoft YaHei, Arial, sans-serif;
// }

h1 {
  color: #347928;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet");

 
// 修改正文颜色为灰色
body {
  color: #595959; 
  font-size: 12px; // 
}

// 修改所有标题颜色为深绿色
h1, h2, h3, h4, h5, h6 {
  color: #000000; // 深绿色
}

// 修改所有链接颜色为绿色
a {
  color: #008000; // 经典绿色
  text-decoration: none; // 可选，去除下划线
}

// 鼠标悬停时的链接颜色
a:hover {
  color: #185519; // 深绿色
  // text-decoration: underline; // 使悬停时更明显
}



