{{ if .Site.Params.avatar }}
<div class="image avatar">
  <img src="{{ .Site.Params.avatar | relURL }}" alt="profile picture" />
</div>
{{ end }}

<h1>{{ .Site.Title }}</h1>

{{ with .Site.Params.position }}
<position>{{ . }}</position>
{{ end }} {{ with .Site.Params.affiliation }}
<a
  href="https://www.google.com/maps/place/The+Hong+Kong+Polytechnic+University+(PolyU)/@22.3037692,114.1767969,17z/data=!4m10!1m2!2m1!1spolyu!3m6!1s0x340400e809c71ff1:0xeb7151a34a54910d!8m2!3d22.3045633!4d114.1795767!15sCgVwb2x5dVoHIgVwb2x5dZIBCnVuaXZlcnNpdHmaASRDaGREU1VoTk1HOW5TMFZKUTBGblNVUlBNRGhRTW1wQlJSQULgAQD6AQQIABAW!16zL20vMDFubWg4?entry=ttu&g_ep=EgoyMDI1MDMwMi4wIKXMDSoASAFQAw%3D%3D"
  rel="noopener"
  target="_blank"
>
  <h4 style="color: #545353">{{ . }}</h4>
</a>
{{ end }} {{ with .Site.Params.email }}
<a href="mailto:{{ . }}" class="email" style="color: #6d6d6d"><email>{{ . }}</email></a>
{{ end }}
<br />
<br />

<div class="social-icons">
  {{ with .Site.Params.google_scholar }}
  <a href="{{ . }}" target="_blank">
    <i class="ai ai-google-scholar" style="font-size: 1.2rem"></i>
  </a>
  {{ end }} {{ with .Site.Params.github_link }}
  <a href="{{ . }}" target="_blank"><i class="fab fa-github"></i></a>
  {{ end }} {{ with .Site.Params.linkedin }}
  <a href="{{ . }}" target="_blank"><i class="fab fa-linkedin"></i></a>
  {{ end }} {{ with .Site.Params.twitter }}
  <a href="{{ . }}" target="_blank"><i class="fab fa-twitter"></i></a>
  {{ end }} {{ with .Site.Params.cv_link }}
  <a href="{{ . }}" target="_blank">CV</a>
  {{ end }}
</div>
